.btn-readingList {
    position: absolute;
    right: 4.5rem;
    top: 0;
    outline: none;
    z-index: 4;
}

.btn-readingList:hover > svg {
    scale: 1.9;
}

.btn-readingList svg {
    transition: scale .6s;
    height: 70px;
    scale: 1.6;    
    padding: 0;
    margin: 0;
}

.btn-readingList svg.active {
    animation: bounce .8s;
}

@keyframes bounce {
    0% {
        scale: 1.9
    }
    100% {
        scale: 1.6
    }
}

.readingList {
    display: grid;
    /* align-content: center; */
    grid-template-columns: repeat(1, minmax(180px,1fr));    
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100vh - 3.5rem);
    background-color: #62372dcc;   
    transform: translateY(100%);
    z-index: 3;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    transition: clip-path 1s;
    padding: 3rem 1.5rem;
    gap: 1.2rem;
    overflow-y: scroll;
    max-width: 240px;    
}

.readingList::-webkit-scrollbar {
    display: none;
}

.readingList.active {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.btn-readingList span {
    position: absolute;
    top: .5rem;
    right: .1rem;
    color: var(--color-beige);    
    font-family: "DM Serif Display", serif; 
}

.readingList-message-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    background-color: rgba(255,255,255, .5);
    border-radius: .5rem;
    backdrop-filter: blur(10px);
    margin: auto;
}

.readingList-message-error h3 {
    font-weight: lighter;
    font-size: 1.2rem;
}

@media (max-width: 770px) {
    .btn-readingList {
        right: 1rem;
    }
}

@media (max-width: 500px) {
    .btn-readingList {
        font-size: .8rem;
    }
}