.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;    
    padding-top: 3.5rem;
    background-image: url('../../assets/background-library.webp');
    background-size: cover;
    background-position: center;
}

.hero-slider {
    display: flex;
    padding: 1.5rem;
    width: 45rem;
    height: 85%;
    max-height: 540px;
    gap: 1.5rem;
    background-color: #62372dcc;   
    backdrop-filter: blur(2px)
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(223, 221, 221);
    gap: 1.5rem;    
    width: 50%;
    font-family: "Playfair Display", serif;
    line-height: 1.6rem;
    font-style: italic;
    font-size: .9rem;
    animation: effectAppear 3s infinite alternate;    
}

.hero-slider p {
    text-align: center;
}

@keyframes effectAppear {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

.hero-info h3 {
    font-size: 1.2rem;
    color: var(--color-beige);
}

.hero-contImage {
    height: 100%;    
    border-radius: .5rem;
    animation: effectAppear 3s infinite alternate;    
    overflow: hidden;
}

.hero-contImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;    
    aspect-ratio: 317/455;
}

@media (max-width: 745px) {
    .hero-slider {
        width: 90%;
        height: auto;
    }    
    .hero-contImage img {
        max-height: 25rem;    
    }
}

@media (max-width: 400px) {
    .hero-slider {
        flex-direction: column-reverse;        
        align-items: center;
        max-height: none;
    }

    .hero-info {
        width: 100%;
        text-align: center;
    }
}