.headerFilters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-beige);
    padding: 1rem 2rem;    
    flex-wrap: wrap;
    gap: 1rem;    
}

.headerFilters-filter {
    display: flex;
    gap: 1rem;    
    align-items: center;
}

.headerFilters-filter h3, .headerFilters span {
    text-wrap: nowrap;
}

.headerFilters-filter-name, .headerFilters-filter span {
    font-weight: lighter;
    font-size: 1.1rem;
}

.headerFilters-filter-minPages {
    width: 14rem;
}

.headerFilters-search input {
    height: 1.5rem;
    border: none;
    padding: 0 .4rem;
    font-family: "Nunito", sans-serif;
    width: 14rem;
}

.headerFilters-search {
    display: flex;
    overflow: hidden;    
    border: 1px solid var(--color-brown);
    border-radius: .2rem;
}

.headerFilters-search-svg {
    height: 1.5rem;
    background-color: rgb(134, 26, 26);
    padding: .1rem;
}

.headerFilters-filter-genre {
    border: 1px solid var(--color-brown);
    border-radius: .2rem;
    font-family: "Nunito", sans-serif;
    outline: none;
}

:root {
    accent-color:#5a1111;
}

@media (max-width: 930px) {
    .headerFilters {
        justify-content: center;
    }
}


@media (max-width: 440px) {
    .headerFilters-filter-minPages {
        width: 10rem;
    }
}