@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --color-beige: #e9d3bf;
  --color-brown: #341B16;
}

#root {  
  display: flex;
  flex-direction: column;
  width: 100%;  
  font-family: "DM Serif Display", serif;  
  background-color: #F9F3ED;  
}